* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}



.wrapper {
  width: 100%;

  

  background-color: #363837;
  color: aliceblue;
}

.row__main {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.main__top {}
.top__title {
  font-size: 60px;
  text-align: center;
}






.main__body {
  width: 100%;
}

.body__password {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  text-align: center;
  font-size: 22px;
  overflow-x: auto;
  margin-bottom: 20px;
}



.body__list {
  display: flex;
  justify-content: space-between;
  
  font-size: 30px;

  margin-bottom: 20px;
}
.list__item {
  position: relative;

}
.item__container {
  letter-spacing: -3px;
}
/* Custom checkbox styles */
.item__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #2EFF43;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.item__checkbox:checked {
/* background-color: #2196F3; */
background-color: #2EFF43;
}



.body__range_container {
  text-align: center;
}
.range__password-length {}
.range__value {
  
}
input[type="range"] {
  color: #2EFF43;
}







.main__bottom {
  width: 100%;
}
.main__bottom button {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 15px 5px;


  background-color: #2eff43;
  border-radius: 5px;
  font-size: 22px;
}
.bottom__btn_generate {
  margin-bottom: 20px;
}