* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: #363837;
  font-size: 30px;
}
button,
label,
input[type="checkbox"] {
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  background-color: #363837;
  color: aliceblue;
}
.row__main {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.main__top {}
.top__title {
  font-size: 60px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 0px 5px #fff;
}

.main__body {
  width: 100%;
}
.body__password {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  font-size: 22px;
  overflow-x: auto;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background-color: #ffffffd5;
}
.body__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.list__item {
  display: flex;
  align-items: center;
}
.item__container {
  letter-spacing: -3px;
  cursor: pointer;
  user-select: none;
}
/* Custom checkbox styles */
.item__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  box-shadow: 1px 1px 2px #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: outline 0.3s ease-in-out, border 0.1s ease-in-out;
  margin-left: 5px;
}
.item__checkbox:checked {
  outline: 5px solid #000;
  outline-offset: -12px;
  background-color: inherit;
  border: none;
  border: 2px 2px 0 0;
  border-style: solid;
  border-color: #000;
}

.body__range_container {
  text-align: center;
}
.range__lable {}
.lable__value {
  margin: 0 10px;
}
.range__password-length {
  width: 75%;
  margin-bottom: 15px;
}

/* Base styling */
input[type="range"] {
  -webkit-appearance: none;
  height: 11px;
  border-radius: 5px;
  background-image: linear-gradient(#323237, #323237);
  border: 1px solid #fffefe;
  background-size: 20% 100%;
  background-repeat: no-repeat;
}
/* Styling the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #323237;
  cursor: ew-resize;
  box-shadow: 0px 0px 2px #fff;
  transition: background .3s ease-in-out;
}
/* Styling the track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.main__bottom {
  width: 100%;
}
.bottom__container-btn button {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 15px 5px;
  cursor: pointer;
  user-select: none;
  background: #323237;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  outline: 0;
  transition: box-shadow 0.1s ease-in-out;
}
.bottom__container-btn button:active {
  box-shadow: 0 0 5px #000, 0 0 5px #000; 
}
.bottom__container-btn:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 649.98px) {
  input[type="range"] {
    background-size: 15% 100%;
  }
  .wrapper {
    width: 100%;
    background-color: #363837;
    color: aliceblue;
  }
}
@media (min-width: 1023.98px) {
  .wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #363837;
    color: aliceblue;
  }
}