* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
  overflow: hidden;


  font-size: 30px;
}



.wrapper {
  width: 100%;

  

  background-color: #363837;
  color: aliceblue;
}

.row__main {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.main__top {}
.top__title {
  font-size: 60px;
  text-align: center;
}






.main__body {
  width: 100%;
}

.body__password {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  font-size: 22px;
  overflow-x: auto;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}



.body__list {
  display: flex;
  justify-content: space-between;
  
  

  margin-bottom: 30px;
}
.list__item {
  display: flex;
  align-items: center;
}
.item__container {
  letter-spacing: -3px;
}
/* Custom checkbox styles */
.item__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #2EFF43;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  margin-left: 5px;
}
.item__checkbox:checked {
/* background-color: #2196F3; */
background-color: #2EFF43;
}



.body__range_container {
  
  text-align: center;
  
}
.range__lable {
 
}
.lable__value {
  margin: 0 10px;
}
.range__password-length {
  width: 75%
}
/* Range */
/* Base styling */
input[type="range"] {
  -webkit-appearance: none;
  height: 11px;
  /* background: rgba(255, 255, 255, 0.6); */
  border-radius: 5px;
  background-image: linear-gradient(#2EFF43, #2EFF43);
  background-size: 20% 100%;
  background-repeat: no-repeat;
}
/* Styling the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2EFF43;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
/* Styling the track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}





.main__bottom {
  width: 100%;
}
.main__bottom button {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 15px 5px;


  background-color: #2eff43;
  border-radius: 5px;
  font-size: 22px;
}
.bottom__btn_generate {
 
}

.marg {
  margin-top: 10px;
}









/* AAAddd animation copy-button */


