// Файл обнуляючих стилів
@import "nullstyle.scss";


body {
	background-color: #1e2020;
}
.container {
}
.content-row {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	text-align: center;
}


.passwd {
	padding: 20px 10px;

	border: 1px solid #2EFF43;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #49db57, -5px -5px 15px #49db57;
	background-color: #363837;
	color: aliceblue;
	user-select: none;
	h1 {
		font-size: 62px;
		letter-spacing: 4.8px;
		margin: 0px 0px 30px 0px;
		text-shadow: 2px 1px 1px #06d11a3b;
	}

	.passwd__top {
		margin: 0px 0px 30px 0px;
	}
	&__top-list {
		display: flex;
		justify-content: space-around;
		li {
			font-size: 32px;
		}
	}
	.passwd__body {
		margin: 0px 0px 30px 0px;
		
		input {
			padding: 10px;
			width: 100%;
			border: 1px solid #000;
			border-radius: 7px;
			text-align: center;
			background-color: rgb(247, 248, 248);
			font-size: 32px;
			text-overflow: ellipsis;
		}

		label:first-child {
			display: block;
			margin: 0px 0px 10px 0px;
			font-size: 24px;

			input {
				padding: 5px;
				width: 15%;
			}
		}
	}
	.passwd__bottom {
		max-width: 80%;
		margin: 0 auto;
		button:first-child {
			margin: 0px 0px 10px 0px;
		}
	}
	.passwd__bottom_row {
		display: flex;
		flex-direction: column;

		button {
			padding: 10px;
			background-color: #2eff43;
			border-radius: 5px;
			font-size: 36px;
			&:hover {
				box-shadow: 2px 2px 5px #49db57, -2px -2px 5px #49db57;
				transition: .6s;
			}
		}
	}
}




.label__container {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	.checkmark {
		position: absolute;
		top: 2px;
		left: -32px;
		width: 26px;
		height: 26px;
		background-color: #eee;
		border: 1px solid #000;
		border-radius: 2px;
		box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #000;
		&::after {
			content: "";
			position: absolute;
			display: none;
		}
	}
}
.label__container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.label__container:hover input ~ .checkmark {
	background-color: #2EFF43;
	transition: .5s;
}
.label__container input:checked ~ .checkmark {
	background-color: #2EFF43;
	&::after {
		display: block;
	}
}
.label__container .checkmark:after {
	top: 2px;
	left: 9px;
	width: 8px;
	height: 18px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


#copy-button {
	position: relative;
	background-color: #2eff43;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	&:hover {
		box-shadow: 2px 2px 5px #49db57, -2px -2px 5px #49db57;
		transition: .6s;
	}
}
#front {
	position: relative;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}
#back {
	position: absolute;
	bottom: 10px;
	right: 70px;
	backface-visibility: hidden;
	transform: rotateY(180deg);
  } 
#copy-button.flipped {
	transform: rotateY(180deg);
}
@keyframes flip {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}